<div class="kids">KIDS</div>  
    <a href="./page2"><div class="next">Next</div></a>
    <a href="./page1"><div class="pre">Pre</div></a>    





  <table border="1px" style="width:100%" height="20px" >
    <tr height="20px">
      <td >
        <ul style="line-height:320%">
          <div class="greenbg">
            <h2>Order No.7</h2>
          </div>
        
        <li>Item7.0  <button class="greenbtn">Process</button>  </li> 
        <li>Item7.1  <button class="greenbtn">Process</button>  </li> 
        <li>Item7.2  <button class="greenbtn">Process</button>  </li> 
        <li>Item7.3  <button class="greenbtn">Process</button>  </li> 
        <li>Item7.4  <button class="greenbtn">Process</button>  </li> 
      </ul>
        
      
      </td>
      <td >
        <ul style="line-height:320%">
          <div class="greenbg">
            <h2>Order No.8</h2>
          </div>
        
        <li>Item8.0  <button class="greenbtn">Process</button>  </li> 
        <li>Item8.1  <button class="greenbtn">Process</button>  </li> 
        <li>Item8.2  <button class="greenbtn">Process</button>  </li> 
        <li>Item8.3  <button class="greenbtn">Process</button>  </li> 
        <li>Item8.4  <button class="greenbtn">Process</button>  </li> 
      </ul>
      
      </td>
      <td >
        <ul style="line-height:320%">
          <div class="greenbg">
            <h2>Order No.9</h2>
          </div>
        
        <li>Item9.0  <button class="greenbtn">Process</button>  </li> 
        <li>Item9.1  <button class="greenbtn">Process</button>  </li> 
        <li>Item9.2  <button class="greenbtn">Process</button>  </li> 
        <li>Item9.3  <button class="greenbtn">Process</button>  </li> 
        <li>Item9.4  <button class="greenbtn">Process</button>  </li> 
      </ul>
      
      </td>
    </tr>
   
    </table>

 